/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  overflow-x: hidden;
}

.body-main {
  background: linear-gradient(to right, rgb(3, 0, 31), rgb(10, 8, 8));
  overflow-x: hidden;
}

.light {
  background: linear-gradient(to right, #fff, rgb(146, 144, 144));
}

/* header,
main > section:nth-child(odd)  {
  background: linear-gradient(to right, rgb(3, 0, 31), rgb(10, 8, 8));
}

main > section:nth-child(even),
footer
 {
  background: linear-gradient(to right, rgb(3, 0, 31), rgb(1, 2, 59));
} */

header {
  display: flex;
  background: linear-gradient(to right, rgb(3, 0, 31), rgb(10, 8, 8));
  width: 100%;
}

.logo {
  margin-top: 20px;
  margin-left: 3.8%;
  display: flex;
  flex-direction: row;

}

.logo a {
  text-decoration: none;
  color: gold;
  font-size: 2rem;
}

.logo img {
  width: 40px;
  height: 40px;
}

span {
  display: flex;
}

.toggle-light {
  margin: 20px 0 0 200%;
  background-color: #000;
  border: none;
}

#img-1,
#img-2,
.img-3 {
  width: 30px;
  height: 30px;
}

#img-3 {
  transform: rotate(90deg);
}

#img-4 {
  display: none;
}

.nav-icon {
  margin: 20px 100% 0 70%;
  z-index: 1000;
}

#img-3,
#img-4 {
  margin-left: 100%;
}

.toggle-dark {
  margin: 20px 0 0 0;
  background-color: #fff;
}

.hero-section {
  display: flex;
  height: 700px;
  height: clamp(500px, 600px, 800px);
  width: 100%;
  background: linear-gradient(to right, rgb(3, 0, 31), rgb(10, 8, 8))
}

.even-section {
  background: rgb(212, 209, 209);
}

.col-1 {
  color: #fff;
  margin: 20% 3% 0 3%;
  width: 60%;
}

.col-1 h1 {
  font-size: 3rem;
  font-size: clamp(2rem, 1.2rem + 3vw, 3.5rem);
}

.col-1 p {
  margin: 30px 0 0 0;
  font-size: clamp(0.6rem, 0.4rem + 1vw, 1.2rem);
}

.col-2 {
  border-right: 12px double gold;
  border-bottom: 12px double gold;
  width: 40%;
  height: 75%;
  margin: 12% 5% 0 5%;
}

.col-2 img {
  width: 450px;
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  height: 100%;
}

#btn-1,
#btn-2 {
  margin-top: 30px;
  cursor: pointer;
}

#btn-1 {
  background-color: gold;
  height: 50px;
  width: 30%;
  font-size: clamp(1rem, 0.5rem + 1vw, 2rem);
  border: none;
  color: #fff;
  display: inline-block;
}

#btn-2 {
  background-color: #000;
  color: #fff;
  border-color: blue;
  font-size: clamp(1rem, 0.5rem + 1vw, 2rem);
  height: 50px;
  width: 30%;
  display: inline-block;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  margin-left: 20px;
}

.section-2 {
  display: flex;
  height: 700px;
  height: clamp(500px, 600px, 800px);
  width: 100%;  
  background: linear-gradient(to right, rgb(3, 0, 31), rgb(1, 2, 59));
}

.col-3 {
  border-right: 12px double blue;
  border-bottom: 12px double blue;
  width: 40%;
  max-width: 400px;
  height: 75%;
  margin: 15px;
  margin: 10% 5% 0 5%;
}

.col-3 img {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  height: 100%;
  width: 100%;
  max-width: 400px;
}

.col-4 {
  width: 60%;
  color: #fff;
  width: 40%;
  height: 75%;
  margin: 15px;
  margin: 10% 5% 0 5%;
}

.col-4 h1 {
  font-size: clamp(2rem, 1.2rem + 3vw, 3.5rem);
  line-height: 1.2;
}

.col-4 p {
  font-size: clamp(0.6rem, 0.4rem + 1vw, 1.2rem);
  line-height: 1.2;
}

.section-3 {
    position: relative;
    display: flex;
    height: 700px;
    height: clamp(500px, 600px, 800px);
    width: 100%;
    background: linear-gradient(to right, rgb(3, 0, 31), rgb(10, 8, 8))
}

.overlap {
  width: 60%;
  height: 75%;
  margin: 12% 5% 0 5%;
  border-top: 10px double gold;
  border-left: 10px double gold;
}

.overlap img {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  height: 100%;
}

.banner {
  width: 45%;
  color: #000;
  background-color: rgba(255, 251, 251, 0.856);
  font-size: clamp(0.6rem, 0.4rem + 1vw, 1.2rem);
  line-height: 1.2;
  height: 40%;
  position: relative;
  left: 200px;
  top: 300px;
  padding: 20px 10px 0 10px;
}

.section-vision {
  background: linear-gradient(to right, rgb(3, 0, 31), rgb(10, 8, 8))
}

.vision-text {
  text-align: center;
  color: #fff;
  font-size: clamp(2rem, 1.2rem + 3vw, 3.5rem);
  margin-top: 50px;
}

hr {
  margin: 0 auto;
  background-color: gold;
  height: 3px;
  width: 10%;
  border: none;
}

.section-music {
  background: linear-gradient(to right, rgb(3, 0, 31), rgb(1, 2, 59));
}

.section-4 {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: clamp(300px, 350px + 0.8vh, 400px);
  padding: 20px 20px 20px 20px;
  background: linear-gradient(to right, rgb(3, 0, 31), rgb(1, 2, 59));
}

.school-text {
  text-align: center;
  font-size: clamp(2rem, 1.2rem + 3vw, 3.5rem);
  color: #fff;
  padding-top: 50px;
}

.section-explore {
  background: linear-gradient(to right, rgb(3, 0, 31), rgb(10, 8, 8))
}

.line {
  margin-top: 10px;
}

.row {
  height: 90%;
  margin: 0 20px 0 20px;
  border-radius: 10px;
  cursor: pointer;
}

#row-1 {
  background: url(images/row-1.jpg);
  background-size: cover;
  width: 25%;
}

#row-2 {
  background: url(images/row-2.jpg);
  width: 25%;
  background-size: cover;
}

#row-3 {
  background: url(images/row-3.jpg);
  width: 25%;
  background-size: cover;
}

.row div {
   background-color: rgba(0, 0, 0, 0.445);
   height: 160px;
   margin-top: 50%;
   color: #fff;
}

.row div h1 {
  font-size: clamp(1rem, .8rem + 1vw, 1.8rem);
  padding: 15px 0 0 20px;
}

.section-5 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.section-5 img {
   text-align: center;
   height: clamp(1.5rem, 2rem + 2vh, 4rem);
   width: clamp(1.5rem, 2rem + 2vw, 4rem);
   padding-left: 20px;
   padding-top: 50px;
}

.icon-text {
  text-align: center;
  margin-top: 50px;
  color: #fff;
  font-size: clamp(2rem, 1rem + 2vw, 3.5rem);
}

.card {
  margin: 80px 20px 0 20px;
  width: 25%;
  background-color: rgb(1, 1, 43);
  text-align: left;
  height: 300px;
  color: #fff;
  border-radius: 10px;
}

.section-5 h3 {
  font-size: clamp(1rem, .8rem + 1vw, 1.8rem);
  font-weight: 500;
  padding-left: 20px;
}

.section-5 p {
  padding-top: 30px;
  padding-left: 20px;
  font-size: clamp(0.6rem, 0.4rem + 1vw, 1.2rem);
  font-weight: 300;
}

.line-2 {
  margin-top: 10px;
}

.footer {
  position: relative;
  padding-top: 50px;
  margin-top: 60px;
  background: linear-gradient(to right, rgb(3, 0, 31), rgb(1, 2, 59));
}

.footer-container {
  display: flex;
  flex-direction: row;
  color: #fff;
}

.footer-container ul {
  display: block;
  list-style: none;
  margin: 0 80px 0 80px;
}

.footer-container li {
  color: #fff;
  line-height: 2;
  font-size: 17px;
  font-weight: 500;
}

.footer-container h1 {
  font-size: 20px;
  line-height: 5;
  font-weight: 700;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials {
  height: clamp(1rem, 1.5rem + 1.5vh, 3rem);
  width: clamp(1rem, 1.5rem + 1.5vw, 3rem);
}

.footer-text {
  color: #fff;
  text-align: center;
  padding: 50px 0 30px 0;
  font-size: 18px;
}

.even-section {
  background: rgb(212, 209, 209);
}

.odd-section {
  background: linear-gradient(to right, #fff, rgb(146, 144, 144));
}

.card-light {
  background: rgb(206, 201, 201);
  box-shadow: 0 0 10px;
}

/* Mobile-state */


@media (max-width: 568px){
  .body-main{
    overflow-y: hidden;
  }
  header {
    background: rgb(1, 1, 54);
  }
  .hero-section {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 80%;
    height: 100%;
    text-align: center;
  }
  .col-1 {
    display: block;
    width: 100%;
    margin: 100px auto;
  }

  .col-2 {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  .col-2 img {
    height: 100%;
    width: 100%;
  }
  .section-2 {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }
  .col-3 {
    width: 100%;
    margin: 40px auto;
  }

  .col-4 {
    display:  none;
  }

  .logo {
    position: relative;
    right: 100%;
    left: 40%;
    bottom: 0;
    font-weight: 900;
  }

  .toggle-dark,
  .toggle-light {
    position: relative;
    right: 400%;
    height: 35px;
    width: 35px;
    text-align: center;
  }
  #img-1,
  #img-2 {
    height: 25px;
    width: 25px;
  }
  .nav-icon {
     margin: 20px 0 0 30%;
  }
  .section-vision {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }
  .section-3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
  .overlap {
    margin: -200px 0 0 0;
    width: 100%;
  }
  .banner {
    position: relative;
    top: 30%;
    left: 0;
    width: 100%;
  }
  .section-music {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    height: 100%;
  }
  .section-4 {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    height: 100%;
  }
  #row-1,
  #row-2,
  #row-3,
  .card {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 300px;
    margin: 30px 0 0 0;
  }
  .section-explore {
    width: 80%;
    margin: 0 auto;
  }
  .section-5 {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
   
  }
  .socials {
    margin: 40px 10px 10px 10px;
  }
  .footer-text {
    text-align: center;
    color: #fff;
    font-size: 18px;
    margin-top: 50px;
  }
  #btn-1,
  #btn-2 {
    border-radius: 5px;
  }
}

  .navbar {
    position: fixed;
    background: rgba(255, 255, 255, 0.918);
    color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translate(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
  }

  .primary-nav {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
    color: #000;
  }
  .primary-nav li {
    color: inherit;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    color: #000;
  }
  .primary-nav li a {
    color: #000;
  }
  .nav-open .navbar{
    transform: translate(0);
  }

